.App {
    text-align: center;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

html {
    background-color: #b6c199;
    background:
    linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
    linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(#aaa 1px, transparent 1px),
    #f2f2f2;
background-size:
    4px 4px,
    4px 4px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.App-link {
    color: #61dafb;
}
  
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul.menu {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
}
li.menu_list {
    height: 75px;
    width: 75px;
    position: relative;
    text-decoration: none
}
li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    background-color: #042630;
    color: wheat;
    transform-origin: 0 0;
    text-decoration: none;
}
a.side {
    background-color: #3E1F47;
    color: wheat;
    text-decoration: none;
    transform-origin: 0 0 75px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}
li.menu_list:hover .front {
    transform: rotateY(90deg);
}   

.home {
    margin: auto;
}

.name {
    width: fit-content;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 4.5vw;
    text-transform: uppercase;
    color: #b68d40;
    // D6AD61
}

.description {
    margin: auto;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    width: fit-content;
}
.is-a {
    font-size: 70px;
}


// *, *::before, *::after {
//     padding: 0;
//     margin: 0 auto;
//     box-sizing: border-box;
// }
  
$speed: 16s;
$wordCount: 3;

.morphing {
    width: 120px;
    position: relative;
    font-size: 70px;
    color: #F4EBD0;
    filter: contrast(25) blur(1px);
}

.word {
    width: 1000px; 
    display: inline-block;
    position: absolute;
    top: 50%; left: 150%;
    transform: translate(-50%, -50%);
    animation: word $speed infinite ease-in-out;
  
    @for $i from 0 to $wordCount {
        &:nth-child(#{$i + 1}) {
        animation-delay: ($speed / ($wordCount + 1) * $i) - $speed;
        }
    }
  
    @keyframes word {
        0%, 5%, 100% { filter: blur(0px); opacity: 1; }        
        20%, 80% { filter: blur(1em); opacity: 0; }        
    }
}

