.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul.menu {
  display: inline-block;
  list-style-type: none;
}
li.menu_list {
  height: 100px;
  width: 100px;
  position: relative;
  text-decoration: none
}
li.menu_list .front,
a.side {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease-out;
  cursor: pointer;
}
li.menu_list .front {
  background-color: #0B525B;
  color: wheat;
  transform-origin: 0 0;
}
a.side {
  background-color: #3E1F47;
  color: wheat;
  text-decoration: none;
  transform-origin: 0 0 100px;
  transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
  transform: rotateY(0deg);
}
li.menu_list:hover .front {
  transform: rotateY(90deg);
}